PROXY_DEFAULT_DOMAIN="{{ proxy_default_domain | replace('\"', '\\\"') }}"
PROXY_DEFAULT_WS_DOMAIN="{{ proxy_default_ws_domain | replace('\"', '\\\"') }}"
PROXY_DEFAULT_REALITY_PORT="{{ proxy_default_reality_port | replace('\"', '\\\"') }}"
PROXY_UUID="{{ proxy_uuid | replace('\"', '\\\"') }}"
PROXY_WS_PATH="{{ proxy_ws_path | replace('\"', '\\\"') }}"
PROXY_REALITY_SHORT_ID="{{ proxy_reality_short_id | replace('\"', '\\\"') }}"
RCLONE_REMOTE_NAME="{{ rclone_remote_name | replace('\"', '\\\"') }}"
BACKUP_RCLONE_PATH_PREFIX="{{ backup_rclone_path_prefix | replace('\"', '\\\"') }}"
OPENCLAW_RCLONE_PATH_PREFIX="{{ openclaw_rclone_path_prefix | replace('\"', '\\\"') }}"
BACKUP_CRON_SCHEDULE="{{ backup_cron_schedule | replace('\"', '\\\"') }}"
CADDY_DEFAULT_ENGINE="{{ caddy_default_engine | replace('\"', '\\\"') }}"
SERVICE_AUTO_START="{{ service_auto_start | default('') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_KOMARI="{{ service_default_komari | default('n') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_OPENLIST="{{ service_default_openlist | default('n') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_EASYIMAGE="{{ service_default_easyimage | default('n') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_VAULTWARDEN="{{ service_default_vaultwarden | default('n') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_CLIPROXYAPI="{{ service_default_cliproxyapi | default('n') | replace('\"', '\\\"') }}"
SERVICE_DEFAULT_SUB_STORE="{{ lookup('vars', 'service_default_sub-store') | default('n') | replace('\"', '\\\"') }}"
